*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    /* font-family: 'Chivo', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 1140px;
    margin: auto;
}
/* ////////////////
header Section CSS
/////////////////*/
.header-section{
    background-color: #000;
}
.header-btn{
    background-color: #FB0000;
    color: #fff;
    text-transform: uppercase;
    padding: 25px 60px;
    margin-left: 15px;
    border-radius: 0;
    font-size: 16px;
}
.nav-link{
    color: #fff !important;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    transition: .5s;
}
.nav-link:hover{
    color: #FB0000 !important;
    transition: .5s;
}
.nav-item{
    padding: 0px 10px;
}
.navbar-brand{
    padding-left: 40px;
}
.dropdown-toggle::after{
    display: none;
}
/* ////////////////
banner Section CSS
/////////////////*/
.banner-section{
    background-color: #000;
}
.banner-content img{
    width: 12%;
    height: auto;
    margin-bottom: 20px;
}
.banner-content h1{
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 80px;
    font-family: 'Chivo', sans-serif;
    line-height: 1;
}
.banner-content p{
    color: #fff;
    font-size: 23px;
    margin-top: 10px;
}
.banner-btn{
    margin-top: 20px;
    background-color: #FB0000;
    color: #fff;
    padding: 15px 50px;
    border-radius: 0;
}
.banner-image img{
    width: 100%;
    height: auto;
}
/* ////////////////
About Section CSS
/////////////////*/
.about-section{
    padding: 100px 0;
}
.about-list ul{
    list-style: none;
}
.about-list ul li{
    margin-bottom: 20px;
}
.check-box{
    position: relative;
    padding: 30px;
    border-radius: 100%;
    color: #FB0000;
    background-color: rgba( 251, 0, 0 , 0.1);
}
.check-icon{
    color: #FB0000;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.check-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #675E5E;
    margin: 0;
    padding: 0px 20px;
}
.about-image img{
    width: 100%;
    height: auto;
}
.about-content h1::before{
    position: absolute;
    content: '';
    top: -20px;
    left: 0;
    background-color: #FB0000;
    width: 50px;
    height: 5px;
}
.about-content h1{
    position: relative;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 45px;
    font-family: 'Chivo', sans-serif;
    line-height: 1;
    margin-bottom: 10px;
}
.about-content p{
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
    color: #675E5E;
    margin-bottom: 20px;
}
.about-btn{
    background-color: #fff;
    border: 2px solid #FB0000;
    padding: 15px 30px;
    border-radius: 0;
    font-size: 18px;
    color: #FB0000;
    font-weight: 700;
}
/* ////////////////
Prices Section CSS
/////////////////*/
.prices-section{
    width: 100%;
    padding: 70px 0;
}
.prices-term{
    align-items: flex-end;
}
.price-image{
    margin: 0;
    padding: 0;
}
.price-image img{
    width: 100%;
    height: auto;
}
.price-item-details{
    margin-top: 50px;
}
.price-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 1px solid #efdce4;
}
.prices-content{
    padding: 0px 40px;
    margin: 0;
}
.price-heading h1{
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 45px;
    font-family: 'Chivo', sans-serif;
    line-height: 1;
    padding-bottom: 20px;
    border-bottom: 1px solid #675E5E;
}
.prices-line{
    display: inline-block;
    background-color: #FB0000;
    width: 50px;
    height: 5px;
    margin-bottom: 30px;
}
.price-item h5{
    font-family: 'Chivo', sans-serif;
    color: #000;
    font-size: 20px;
}
.price-item p{
    color: #000;
    font-weight: 500;
    font-size: 18px;
}
.price-item span{
    margin-left: 8px;
    color: #FB0000;
}
/* ////////////////
Prices Tab Section CSS
/////////////////*/
.pricestab-section{
    padding: 70px 0px;
    width: 100%;
}
.pricestab-heading h1{
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 45px;
    font-family: 'Chivo', sans-serif;
    line-height: 1;
    padding-bottom: 20px;
}
.pricestab-content{
    padding: 0 !important; 
}
.pricestab{
    background-color: #000;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    font-family: 'Chivo', sans-serif;
    font-size: 18px;
    padding-left: 30px;
}
.pricestab:focus {
    color: #fff;
    background-color: #FB0000;
    border-color: #efdce4;
    outline: 0;
}
.pricetab-image{
    padding-left: 20px;
}
.pricetab-image img{
    width: 100%;
}
/* ////////////////
Serivce Section CSS
/////////////////*/
.serivce-section{
    width: 100%;
    padding: 70px 0;
}
.service-part{
    background-image: url(../img/bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
}
.serivce-content{
    text-align: center;
    background-color: #000;
    border-radius: 10px;
    padding: 60px 50px;
    position: relative;
    transition: .5s;
}
.serivce-content::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    border-radius: 10px;
    background-color: #fff;
}
.serivce-content:hover.serivce-content::before{
    height: 100%;
    transition: .5s;
    will-change: top;
}
.serivce-content:hover .service-details h3 a{
    color: #000 !important;
    transition: .5s;
}
.serivce-image, .service-details{
    position: relative;
}
.serivce-image img{
    width: 25%;
    height: auto;
}
.service-details{
    margin-top: 20px;
}
.service-details h3 a{
    color: #fff;
}
.service-details h3{
    font-family: 'Chivo', sans-serif;
    font-size: 25px;
    font-weight: 500;
}
.service-details p{
    margin-top: 20px;
    color: #928888;
    font-size: 16px;
}
.service-image-part{
    margin: 0;
    padding: 0;
}
.services-images{
    display: flex;
}
.simage img{
    width: 100%;
    height: auto;
}
/* ////////////////
Testimonial Section CSS
/////////////////*/
.testimonial-section{
    width: 100%;
    padding: 70px 0;
}
.testimonial{
    margin-top: 30px;
}
.testimonial-content{
    padding: 50px 30px;
    border: 1px solid #efdce4;
}
.reviews span i{
    color: #FB0000;
    margin-bottom: 20px;
}
.testimonial-content p{
    font-size: 18px;
}
.testimonial-user{
    margin-top: 20px;
}
.user-name{
    font-size: 18px;
    padding-left: 10px;
}
.left-side{
    border-left: none;
}
.right-side{
    border-right: none;
}
/* ////////////////
Footer Section CSS
/////////////////*/
.footer-section{
    width: 100%;
    background-color: #150303;
    padding-top: 100px;
}
.footer-content h1{
    color: #fff;
    font-family: 'Chivo', sans-serif;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 15px;
}
.footer-content p{
    margin-bottom: 5px;
    font-size: 16px;
    transition: .5s;
    color: #928888;
}
.footer-content p a{
    color: #928888;
}
.footer-content p a:hover{
    color: #fff;
    transition: .5s;
}
.footer-icon i{
    color: #FB0000;
    font-size: 30px;
    margin-bottom: 10px;
}
.footer-icon img{
    width: 50%;
    height: auto;
    margin-bottom: 20px;
}
.footer-item{
    margin-bottom: 50px;
}
.footer-link{
    padding-bottom: 60px;
}
.footer-middle{
    padding: 0px 70px;
}
.social-link{
    background: rgba(255,255,255,.06);
    font-size: 20px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    transition: .5s;
}
.social-link i{
    color: #fff;
    transition: .5s;
}
.social-link:hover{
    background-color: #FB0000;
    transition: .5s;
}
.social-link:hover.social-link i{
    transform: rotateY(180deg);
    transition: .5s;
}

.footer-copyright{
    padding: 30px 0px;
    border-top: 1px solid #3f3939;
    text-align: center;
}
.footer-copyright p{
    margin: 0;
    color: #928888;
}
.footer-copyright p span a{
    color: #FB0000;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}
